.card {
  border: 1px soid #ddd;
  border-radius: 8px;
  background-color: cornflowerblue;
  margin: 2%;
  padding: 1%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    font-size: 1.4rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  h1 {
    max-width: 100%;
    font-size: 1.4rem;
    word-wrap: break-word;
  }

  p {
    font-size: 1.4rem;
  }
}